
body{
    background-color: rgb(241, 234, 234);
}
.h11{

    background-color: rgba(149, 90, 19, 0.677);
    margin: 10px;
    text-align: center;
    padding: 10px;
    
}

.Home{
     
    margin: 10px;
    padding: 10px;
}
.d1{

   background-color: white;
   padding: 10px;

}

nav a{

    margin-left: 100px;
    background-color: white;
    padding: 10px;
    color: black;
    text-decoration: none;

}
a:hover{
   
    color: pink;
}
.m1
{
    background-color: white;
    
}
.Myskill
{
    margin-left: 20px;
    padding: 10px;
}
li{
    margin-left:15px ;
}
.b1
{
    display: flex;
    justify-content: center;

    
}
.btn
{
  padding: 5px;
  border: 2px solid black;
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(14, 10, 10);
}
    

footer{
  padding: 10px;
    text-align: center;
    color: black;
    background-color: rgba(196, 193, 193, 0.402);
}